body  {   
        background-color:MediumSeaGreen;
}

.ClsStk {
    width: 125px;
    text-align: right;
    background-color:bisque;
    font-weight: bold
}

.ClsCon {
    width: 125px;
    text-align: right;
    background-color:greenyellow;
    font-weight: bold
}

.ClsBal {
    width: 125px;
    text-align: right;
    background-color:lightsteelblue;
    font-weight: bold
}

.ClsDate {
    width: 125px
}

.ClsButton {
    width: 130px;
    height: 30px
}